:root {
  --royal-blue: #2770ef;
  --dim-grey\<deleted\|variable-8a0a63b9\>: #494949;
  --black\<deleted\|variable-c9eccb04\>: black;
  --steel\<deleted\|variable-9cabd29f-6401-16e7-3f37-c132418c2f38\>: #222;
  --white\<deleted\|variable-4b04ab41\>: #fff;
  --h-green: #9aff00;
  --dark-grey\<deleted\|variable-e74598f4\>: #999;
  --purple: #a56aff;
  --primary--050: #eee;
  --h-green-2: #86be42;
  --cardgreen: #ecfff0;
  --correct: #00d478;
  --wrong: #ff4040;
  --disable: #727272;
  --enable: #1a66ff;
  --primary--100: #f1f1f1;
  --primary--200: #d6d6d6;
  --primary--300: #afafaf;
  --primary--400: #898989;
  --primary--500: #656565;
  --primary--000: #fff;
  --primary--600: #434343;
  --primary--700: #242424;
  --primary--750: #1d1d1d;
  --primary--800: #151515;
  --primary--900: #0c0c0c;
  --primary--999: #000;
}
